.bonus {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    padding-top: 70px;
    padding-bottom: 20px;
  }
}

.bonus__plus {
  margin-bottom: 40px;

  @include max(740) {
    margin-bottom: 25px;
  }
  img {
    display: block;
    width: 60px;
    height: 61px;
  }
}

.bonus__title {
  font-family: $gilroy-bold;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 0;
  text-align: center;
  color: #1e1e1e;

  @include max(740) {
    font-size: 30px;
    line-height: 1.2;
  }
  span {
    color: $highlight;
  }
}

.bonus__subtitle {
  font-family: $gilroy;
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 52px;
  text-align: center;
  color: #1e1e1e;

  @include max(740) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.bonus__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include max(980) {
    justify-content: center;
  }
}

.bonus__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  margin-bottom: 20px;
  padding: 10px 15px;

  @include max(980) {
    width: 50%;
  }
  @include max(550) {
    width: 100%;
  }
}

.bonus__img {
  position: relative;
  display: inline-block;
  margin: 0 auto 25px;

  img {
    display: block;
    width: 100%;
    max-width: 315px;
    margin: 0 auto;
  }
}

.bonus__img-circle {
  font-family: $gilroy-black;
  font-size: 25px;
  font-weight: 900;
  line-height: 55px;
  position: absolute;
  z-index: 1;
  top: -20px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50%;
  background-color: #f80650;
}

.bonus__text {
  font-family: $gilroy;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  color: #1e1e1e;

  strong {
    font-family: $gilroy-bold;
  }
}
