//begin banner
.banner
  .container
    .banner__title
      | Повысь свой результат на
      =' '
      span 9 баллов за 3 дня
      br
      | на онлайн-концентрате «ХИМИЯ ЕГЭ-2020»

    span.banner__descr Чтобы попасть на онлайн-концентрат, нажми на кнопку ниже:

    .banner__btn-wrap
      a(href="#").btn.banner__btn Улучшить результат
//end banner