//begin bonus
.bonus
  .container
    .bonus__plus
      img(src="assets/img/plus.svg" alt="picture")
    h2.bonus__title
      |Получи доступ к
      =' '
      span БОНУСАМ
    h3.bonus__subtitle для участников концентрата

    .bonus__list
      //begin bonus__item
      .bonus__item
        .bonus__img
          .bonus__img-circle
            span #1
          img(src="assets/img/bonus-01.png" alt="picture")
        .bonus__text
          span
            strong Чек-лист с алгоритмом решения всех пройденных типов 35 задания для успешной сдачи ЕГЭ по ХИМИИ.
            br
            |Работай по четкой системе - экономь свое время на экзамене!
      //end bonus__item

      //begin bonus__item
      .bonus__item
        .bonus__img
          .bonus__img-circle
            span #2
          img(src="assets/img/bonus-02.png" alt="picture")
        .bonus__text
          span
            strong Скрипты и презентации всех вебинаров:
            br
            |чтобы все полезные таблицы с урока были всегда под рукой!
      //end bonus__item

      //begin bonus__item
      .bonus__item
        .bonus__img
          .bonus__img-circle
            span #3
          img(src="assets/img/bonus-03.png" alt="picture")
        .bonus__text
          span
            strong Чек-лист по подготовке к ЕГЭ по химии:
            br
            |полный план самостоятельной подготовки к экзамену с рекомендациями по литературе.
            br
            |Прошел тему - отметил и двигаешься дальше!
      //end bonus__item


//end bonus