//begin footer
footer.footer
  .container
    a(href="#").footer__link.footer__link--copyright © 2019 Bubo Unicus. Все права защищены.
    a(href="#").footer__link.f3 Политика конфиденциальности
    a(href="#").footer__link Согласие с рассылкой
//end footer