//begin footer
footer.footer
  .container
    a(href="https://vk.com/app5898182_-187768466#s=523066").footer__link.footer__link--copyright © 2019 Bubo Unicus. Все права защищены.
    a(href="https://vk.com/app5898182_-187768466#s=523066").footer__link.f3 Политика конфиденциальности
    a(href="https://vk.com/app5898182_-187768466#s=523066").footer__link Согласие с рассылкой
//end footer