//begin program
.program
  .program__top-bg
  //begin program__body
  .program__body
    .container
      h2.program__title Что тебя ждет на концентрате?

      //begin program__list
      .program__list.program-list
        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-01.png" alt="picture")
          .program-list__text
            .program-list__numb день 1
            h4.program-list__title Уровень сложности Beginner
            span Цитологические основы наследственности, гены, ДНК, хромосомы. Основные понятия, генетика пола. законы Менделя, решение 6-го тестового задания.
        //end program-list__row

        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-02.png" alt="picture")
          .program-list__text
            .program-list__numb день 2
            h4.program-list__title Уровень сложности Medium
            span Хромосомная теория Томаса Моргана, сцепленное наследование, нарушения сцепления, решение задания 22, решение задания 28 на сцепленное наследование.
        //end program-list__row

        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-03.png" alt="picture")
          .program-list__text
            .program-list__numb день 3
            h4.program-list__title Уровень сложности Hard
            span Виды взаимодействия генов, решение самых сложных 28 задач
        //end program-list__row
      //end program__list

      //begin program__footer
      .program__footer.program-footer
        .program-footer__header
          h3.program-footer__title
            | В конце курса ты
            =' '
            span научишься решать:

        .program-footer__body
          .program-footer__item
            img(src="assets/img/smile-02.png" alt="picture")
            strong 6 задание
            br
            | по законам Менделя
            span (1 балл)

          .program-footer__item
            img(src="assets/img/smile-02.png" alt="picture")
            strong 22 задание
            br
            |по хромосомным картам
            span (2 балла)

          .program-footer__item
            img(src="assets/img/smile-02.png" alt="picture")
            strong 28 задание,
            =' '
            |от которого хочется лечь на условие и плакать
            span (3 балла)

          .program-footer__item
            img(src="assets/img/smile-02.png" alt="picture")
            | Кто здесь самый
            | сладкий пирожочек?
            span (Конечно, ты)
      //end program__footer
  //end program__body
//end program
