//begin program
.program
  .program__top-bg
  //begin program__body
  .program__body
    .container
      h2.program__title Что тебя ждет на концентрате?
      h3.program__subtitle
        span Часть С. Разбор 35 задачи
      span.program__descr
        |Разберём основные типы задачи - около
        =' '
        strong 9 вторичных баллов
      //begin program__list
      .program__list.program-list
        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-01.png" alt="picture")
          .program-list__text
            .program-list__numb 001
            h4.program-list__title Разбор механизма решения задачи на горение.
            span Тонкости оформления, формулы.
            span Лайфхаки по экономии времени.
        //end program-list__row

        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-02.png" alt="picture")
          .program-list__text
            .program-list__numb 002
            h4.program-list__title Разбор механизма решения задачи на доли.
            span Формулы, оформление.
        //end program-list__row

        //begin program-list__row
        .program-list__row
          .program-list__img
            img(src="assets/img/program-03.png" alt="picture")
          .program-list__text
            .program-list__numb 003
            h4.program-list__title Разбор усложнённых версий.
            span На кислые соли и задачи с доп. условиями.
            span
        //end program-list__row
      //end program__list
  //end program__body
//end program
