//begin reviews
.reviews
  .reviews__top-bg
  .reviews__body
    .container
      .reviews__title
        |Отзывы учеников Лии Менделеевой
        =' '
        span

    //begin reviews__slider
    .reviews__slider.reviews-slider
      .reviews-slider__slide
        img(src="assets/img/review-00.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-00.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-00.jpg" alt="picture")
    //end reviews__slider

    .container
      a(href="#").btn.review__btn Записаться на концентрат

//end reviews