//begin reviews
.reviews
  .reviews__top-bg
  .reviews__body
    .container
      .reviews__title
        |Отзывы учеников Лины Клевер
        =' '
        span

    //begin reviews__slider
    .reviews__slider.reviews-slider
      .reviews-slider__slide
        img(src="assets/img/review-01.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-02.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-03.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-04.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-05.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-06.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-07.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-08.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-09.jpg" alt="picture")
      .reviews-slider__slide
        img(src="assets/img/review-10.jpg" alt="picture")
    //end reviews__slider

    .container
      a(href="https://vk.com/app5898182_-187768466#s=523066").btn.review__btn Записаться на концентрат

//end reviews