//begin teacher
.teacher.teacher-test
  .container
    .teacher__banner.teacher-banner
      span.teacher-banner__subtitle Немного о преподавателе и авторе теста
      h2.teacher-banner__title
        | Давай знакомиться:
        br
        | твой учитель – Лия
        =' '
        span Менделеева
      ul.teacher-banner__list
        li.teacher-banner__item
          |выпустила
          =' '
          strong 117 стобалльников в 2019 году
          br
          |(
          strong каждый 10ый стобалльник
          =' '
          |России учился у нас!)
        li.teacher-banner__item 404 ученика сдали на 90+
        li.teacher-banner__item за 3 года работы выпустила 17000 учеников
        li.teacher-banner__item сотрудничаю с экспертом по подготовке к ЕГЭ
        li.teacher-banner__item объясняю сложную химию простым и понятным языком
        li.teacher-banner__item придумываю ассоциации для легкого запоминания

      a(href="#").btn.teacher-banner__btn
        | Пройти тест
        =' '
        span и узнать, на сколько баллов ты знаешь предмет
    .teacher__pic
//end teacher