//begin teacher
.teacher
  .container
    .teacher__banner.teacher-banner
      span.teacher-banner__subtitle Немного о преподавателе
      h2.teacher-banner__title
        | Концентрат будет вести Лина
        =' '
        span Клевер
      ul.teacher-banner__list
        li.teacher-banner__item
          |Сдала
          =' '
          strong ЕГЭ по биологии на 91 балл
        li.teacher-banner__item Преподаю биологию 5 лет
        li.teacher-banner__item Диплом НИУ ВШЭ
        li.teacher-banner__item Мои ученики ежегодно поступают в МГУ, ВШЭ,
        li.teacher-banner__item Первый Мед Москвы и другие топ-ВУЗы России
        li.teacher-banner__item Разработала свою методику преподавания
        li.teacher-banner__item Финалист всероссийской олимпиады по биологии
        li.teacher-banner__item
          | Мастер рисунков, схем и биологических
          =' '
          span.frog мемов

    .teacher__pic
//end teacher