//begin teacher
.teacher.teacher-test
  .container
    .teacher__banner.teacher-banner
      span.teacher-banner__subtitle Немного о преподавателе и авторе теста
      h2.teacher-banner__title
        | Давай знакомиться:
        br
        | твой учитель – Лина
        =' '
        span Клевер
      ul.teacher-banner__list
        li.teacher-banner__item
          |Сдала
          =' '
          strong ЕГЭ по биологии на 91.
          =' '
          |25 лет. Преподает биологию
          =' '
          strong 5 лет
        li.teacher-banner__item Диплом НИУ ВШЭ
        li.teacher-banner__item
          |Ученики Лины ежегодно поступают в
          =' '
          strong МГУ, ВШЭ, Первый Мед Москвы
          =' '
          | и другие топ-вузы России
        li.teacher-banner__item Разработала свою методику преподавания
        li.teacher-banner__item Финалист всероссийской олимпиады по биологии
        li.teacher-banner__item
          |Мастер рисунков, схем и биологических
          =' '
          span.frog мемов

      a(href="#").btn.teacher-banner__btn
        | Пройти тест
        =' '
        span и узнать, на сколько баллов ты знаешь предмет
    .teacher__pic
//end teacher