//begin top
.top
  .container
    .top__banner.top-banner
      span.top-banner__header
        | Бесплатный закрытый концентрат
        br
        strong с 19 по 21 ноября
      .top-banner__title-wrap
        h2.top-banner__title ЕГЭ Биология 2020
      .top-banner__descr
        | Повысь свой результат на
        =' '
        span 15 баллов за 3 дня
        br
        | на онлайн-концентрате «ГЕНЕТИКА ЕГЭ-2020»



      span.top-banner__under-descr Чтобы попасть на онлайн-концентрат, нажми на кнопку ниже:

      a(href="/test.html").btn.top-banner__btn
        |Хочу повысить свой результат
        =' '
        span по ЕГЭ на 15 баллов
//end top