//begin top
.top
  .container
    .top__banner.top-banner
      span.top-banner__header
        |Бесплатный закрытый концентрат
        br
        strong с 15 по 17 ноября
      .top-banner__title-wrap
        h2.top-banner__title
          |Покорители С-части
          br
          span ЕГЭ Химия 2020
      .top-banner__descr
        | Повысь свой результат на
        =' '
        span 9 баллов за 3 дня
        br
        | на онлайн-концентрате «ХИМИЯ ЕГЭ-2020»

      span.top-banner__under-descr Чтобы попасть на онлайн-концентрат, нажми на кнопку ниже:

      a(href="/test.html").btn.top-banner__btn Хочу повысить свой результат на 9 баллов
//end top