//begin video
.video
  .container
    h2.video__title
      |Приглашение на концентрат от Лины Клевер
      span

    .video__video
      iframe( width="560" height="315" src="https://www.youtube-nocookie.com/embed/PPDTWjec0IE?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    a(href="https://vk.com/app5898182_-187768466#s=523066").btn.video__btn Записаться на концентрат
//end video