// ***** main colors *******
$brand: #6955c8;
$dark: #1e1e1e;
$highlight: #f80650;
$highlight-hov: rgba(248, 6, 80, 0.8);

// ***** text colors *******
$text: #1e1e1e;

// ===== fonts =====
$gilroy:            'Gilroy', sans-serif;
$gilroy-bold:       'Gilroy-Bold', sans-serif;
$gilroy-black:      'Gilroy-Black', sans-serif;
$gilroy-blackitalic:'Gilroy-BlackItalic', sans-serif;
