extends ../_template

block variables
  - var title       = 'Bubo Unicus'
  - var description = 'Bubo Unicus'
  - var ogtitle     = 'Bubo Unicus'

block content

  //begin content
  main.main
    include ../sections/header
    include ../sections/top
    include ../sections/video
    include ../sections/program
    include ../sections/teacher
    include ../sections/banner
    include ../sections/bonus
    include ../sections/reviews
    include ../sections/footer
    //end content
