extends ../_template

block variables
  - var title       = 'Bubo Unicus'
  - var description = 'Bubo Unicus'
  - var ogtitle     = 'Bubo Unicus'

block content

  //begin content
  main.main
    include ../sections/header
    include ../sections/test-top
    include ../sections/teacher-test
  //end content

